/* Fonts
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Gugi', cursive; */

* {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
}

body {
  font-family: "Gugi", cursive;
  text-align: center;
  font-size: 1.1rem;
  color: rgb(104, 84, 88);
  background-color: rgba(166, 196, 221, 0.6);
}

ul {
  list-style-type: none;
  /* display: inline-block; */
}
li {
  display: inline-block;
}
